name: Build, Push and Scan with Aqua SaaS (Enterprise Standard)

on: [pull_request, push]

env:
  IMAGE_NAME: mytest
  IMAGE_TAG: CICD
  REGISTRY: docker.io # Example: 1234567890.dkr.ecr.eu-central-1.amazonaws.com

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to DockerHub
        run: echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login docker.io -u "${{ secrets.REGISTRY_USERNAME }}" --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build -t docker.io/knightfortheright/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .
          docker push docker.io/knightfortheright/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

  scan:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Aqua registry
        run: echo "${{ secrets.SAAS_PASS }}" | docker login registry.aquasec.com -u "${{ secrets.SAAS_USER }}" --password-stdin

      - name: Scan image via Aqua SaaS
        run: |
          docker run -v /var/run/docker.sock:/var/run/docker.sock registry.aquasec.com/scanner:2022.4 scan -H https://c1fae5dbe2.cloud.aquasec.com -U ${{ secrets.SAAS_USER }} -p ${{ secrets.SAAS_PASS }} docker.io/${{ secrets.REGISTRY_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
